@import "tailwindcss";

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-beige: #edebe8;
}

/* Masquer les barres de défilement */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}